---
name: Tag release
on:
  push:
    branches:
      - '!**'
      - 'main'

jobs:
  tag-release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Check for conventional commits
        uses: cocogitto/cocogitto-action@v3.8
      - name: Get next version
        id: next_version
        run: |
          echo NEXT_VERSION=`cog bump --auto --dry-run` >> "$GITHUB_ENV"
      - name: Cocogitto tag
        id: release
        uses: cocogitto/cocogitto-action@v3
        with:
          check-latest-tag-only: true
          release: true
          git-user: 'GitHubActions'
          git-user-email: 'github@lazzurs.org'
      - name: Generate Changelog
        run: cog changelog --at ${{ steps.release.outputs.version }} -t full_hash > GITHUB_CHANGELOG.md
      - name: Upload github release
        uses: softprops/action-gh-release@v2
        with:
          body_path: GITHUB_CHANGELOG.md
          tag_name: ${{ steps.release.outputs.version }}
